* {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  display: block;
}
main {
  max-width: 1100px;
  margin: 0 auto;
}
p {
  margin: 1em 0 1.4em 0;
}
/* .grid_1-1-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2em;
} */
.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
