section {
  display: flex;
  gap: 0.6rem;
  /* flex-wrap: wrap; */
}
div {
  border: 1px solid #cde;
  padding: 0.6rem;
  text-align: center;
  height: min-content;
  /* width: 400px; */
  /* flex-basis: 250px; */
  /* fleksibel minimums-bredde */
}
div > img {
  width: 100%;
  height: 80px;
  object-fit: cover;
}
.box01 {
  flex-grow: 1;
  /* elementets grow-faktor */
}
.box02 {
  flex-grow: 7;
}
.box03 {
  flex-grow: 1;
}
